.ModuleQnaModal {font-size:12px; width:500px; margin:auto; background:#fff; color:#000; box-shadow:0 1px 70px rgba(0, 0, 0, 0.5);}
.ModuleQnaModal header {display:block; height:80px; line-height:80px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:18px; font-weight:bold; padding-left:20px;}
.ModuleQnaModal header i {float:right; color:#bbb; display:block; padding:10px; cursor:pointer; margin:10px 5px; font-size:16px;}
.ModuleQnaModal header i:hover {color:#000;}

.ModuleQnaModal .content {padding:0px 20px; line-height:1.6;}
.ModuleQnaModal .content .message {line-height:1.6; margin-bottom:5px;}

.ModuleQnaModal .button {font-size:0px; margin-top:20px;}
.ModuleQnaModal .button button {width:50%; height:40px; cursor:pointer; border:0px; font-size:12px; background:#ddd; color:#4f4f4f;}
.ModuleQnaModal .button button:hover {background:#bbb; color:#000;}
.ModuleQnaModal .button button.submit {background:#2764b2; color:#c9d4e3; font-weight:bold;}
.ModuleQnaModal .button button.submit:hover {background:#1c477e; color:#fff;}
.ModuleQnaModal .button button.submit[disabled] {background:#1c477e; color:#fff; opacity:0.8;}